@font-face{
    font-family: 'Minecraft';
    src: url(fonts/minecraft/minecraft_font.woff) format('woff');
}

*{
    font-family: 'Minecraft';
}

#background{
    position: absolute;
    background-image: url(imgs/Logo_serveur_carre.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.blur{
    background-image: url(imgs/Logo_serveur_carre.png);
    background-size: cover;
    position: absolute;
    filter: blur(10px);
    width: 100%;
    height: 100%;
    z-index: 0;
}

body{
    margin: 0;
}

header{
    position: relative;
    background-color: rgb(255, 255, 255, .3);
    text-align: center;
    padding: 5px 0;
    padding-top: 7px;
}

header img{
    width: 200px;
}

#login_container{
    position: relative;
    z-index: 1;
    background-image: url(imgs/dirt_block.png);
    background-repeat: repeat;
    background-size: 25%;
    padding: 10px;
    padding-bottom: 30px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
    margin-top: 100px;
    max-width: 250px;
    width: 100%;
    text-align: center;
}

#login_container::before{
    content: '';
    background-color: rgb(0, 0, 0, 0.33);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

#login_container > *{
    position: relative;
    z-index: 1;
}

#login_container h1{
    font-size: 28px;
    margin-bottom: 30px;
    color: white;
}

#login_container #message{
    color: rgb(241, 63, 63);
    font-size: 12px;
}

#login_container input{
    display: block;
    margin: 5px auto;
    width: 75%;
    box-sizing: border-box;
    padding: 5px;
    background-color: black;
    color: rgb(216, 216, 216);
}

#login_container button{
    position: relative;
    display: block;
    /* background-color: rgb(64, 158, 245); */
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    margin: 5px auto;
    width: 76%;
}

#login_container button span{
    position: relative;
    z-index: 1;
}

#login_container button img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#login_container button:active img{
    content: url(imgs/button_highlighted.png);
}

#login_container .buttons{
    margin-top: 30px;
}