@import url('https://fonts.cdnfonts.com/css/minecraftia');

/* @font-face{
    font-family: 'Minecraft';
    src: url(fonts/minecraft/minecraft_font.woff) format('woff');
} */

*{
    font-family: 'Minecraftia';
}

#background{
    position: absolute;
    background-image: url(../imgs/Logo_serveur_carre.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.blur{
    background-image: url(../imgs/Logo_serveur_carre.png);
    background-size: cover;
    position: absolute;
    filter: blur(10px);
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
}

header{
    position: relative;
    background-color: rgb(255, 255, 255, .3);
    text-align: center;
    padding: 5px 0;
    padding-top: 7px;
}

header > img{
    width: 200px;
}

header span{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/grass_block.png);
    background-size: cover;
    background-position: center;
    height: 38px;
    width: 38px;
    position: absolute;
    right: 7px;
    top: 7px;
    border-radius: 4px;
}

header span img{
    width: 75%;
    transition: all .3s ease;
    cursor: pointer;
}

header span img:hover{
    width: 90%;
}

#menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: white;
    width: 200px;
    height: 100vh;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    top: 0;
    right: -2px;
    transform: translateX(100%);
    transition: all .3s ease;
    font-size: 12px;
    z-index: 3;
    background-image: url(../imgs/oak_planks.png);
    background-size: calc(20px * 4);
    background-repeat: repeat;
    image-rendering: pixelated;
    border: solid 6px gray;
    outline: solid 2px black;
    border-right: none;
    box-sizing: border-box;
}

#menu::before{
    content: '';
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 2px black;
    border-right: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-sizing: border-box;
    outline: solid 6px gray;
}

#menu::after{
    content: '';
    position: absolute;
    z-index: 3;
    top: -6px;
    left: -6px;
    width: calc(100% + 6px * 2);
    height: calc(100% + 6px * 2);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-sizing: border-box;
    border: solid 2px rgb(177, 177, 177);
    border-bottom: solid 2px rgb(94, 94, 94);
    border-right: none;
}

#menu.active{
    transform: translateX(0);
}

#menu .content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    z-index: 4;
    height: 100%;
}

#menu .content .header #close::before{
    content: '';
    position: absolute;
    background-color: rgb(43, 43, 43);
    height: 2px;
    width: 80%;
    border-radius: 8px;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
}

#menu .content .body{
    padding: 5px;
    height: 100%;
    overflow-y: scroll;
    scrollbar-color: #888888 transparent;
}

#menu .centent .body::-webkit-scrollbar-thumb{
    background-image: url(../imgs/dirt_block.png);
    background-size: cover;
}

#close span{
    transition: all .3s ease;
    cursor: pointer;
}

#close span:hover{
    transform: scale(1.2);
}

#body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.main-title{
    display: inline-block;
    background-image: url(../imgs/dirt_block.png);
    background-size: contain;
    background-repeat: repeat;
    position: relative;
    z-index: 1;
    border-radius: 8px;
    box-shadow: inset 0px 0px 25px 6px rgba(0,0,0,0.6);
    padding: 10px;
    margin: 40px auto;
}

.main-title .noir{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 8px;
}

h1{
    position: relative;
    z-index: 2;
    color: white;
    margin: 0;
}

h1 span{
    color: #5555ff;
}

#features{
    display: flex;
    flex-direction: column;
    z-index: 1;
}

#features form{
    display: flex;
    justify-content: center;
}

#features button{
    position: relative;
    color: white;
    background-image: url(../imgs/button.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    margin: 20px auto;
    width: calc(200px * 2);
    height: calc(20px * 2);
}

#features button:disabled{
    background-image: url(../imgs/button_disabled.png);
    cursor: auto;
}

#features button:active:not(:disabled){
    background-image: url(../imgs/button_highlighted.png);
}

#info-bulle{
    background-color: rgb(6, 0, 49);
    border: solid 4px black;
    border-radius: 8px;
    color: white;
    position: absolute;
    pointer-events: none;
    display: none;
    z-index: 1;
}