@import url('https://fonts.cdnfonts.com/css/minecraftia');

/* @font-face{
    font-family: 'Minecraft';
    src: url(fonts/minecraft/minecraft_font.woff) format('woff');
} */

*{
    font-family: 'Minecraftia', sans-serif;
}

#background{
    position: fixed;
    background-image: url(../imgs/Logo_serveur_carre.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.blur{
    background-image: url(../imgs/Logo_serveur_carre.png);
    background-size: cover;
    position: fixed;
    filter: blur(10px);
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
}

header{
    position: sticky;
    background-color: rgb(255, 255, 255, .3);
    text-align: center;
    padding: 5px 0;
    padding-top: 7px;
    top: 0;
    z-index: 10;
}

header > img{
    width: 200px;
    cursor: pointer;
}

header span{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/grass_block.png);
    background-size: cover;
    background-position: center;
    height: 38px;
    width: 38px;
    position: absolute;
    right: 7px;
    top: 7px;
    border-radius: 4px;
}

header span img{
    width: 75%;
    transition: all .3s ease;
    cursor: pointer;
}

header span img:hover{
    width: 90%;
}

#menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: white;
    width: 200px;
    height: 100vh;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    top: 0;
    right: -2px;
    transform: translateX(100%);
    transition: all .3s ease;
    font-size: 12px;
    z-index: 11;
    background-image: url(../imgs/oak_planks.png);
    background-size: calc(20px * 4);
    background-repeat: repeat;
    image-rendering: pixelated;
    border: solid 6px gray;
    outline: solid 2px black;
    border-right: none;
    box-sizing: border-box;
}

#menu::before{
    content: '';
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 2px black;
    border-right: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-sizing: border-box;
    outline: solid 6px gray;
}

#menu::after{
    content: '';
    position: absolute;
    z-index: 3;
    top: -6px;
    left: -6px;
    width: calc(100% + 6px * 2);
    height: calc(100% + 6px * 2);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-sizing: border-box;
    border: solid 2px rgb(177, 177, 177);
    border-bottom: solid 2px rgb(94, 94, 94);
    border-right: none;
}

#menu.active{
    transform: translateX(0);
}

#menu .content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    z-index: 4;
    height: 100%;
}

#menu .content .header #close::before{
    content: '';
    position: absolute;
    background-color: rgb(43, 43, 43);
    height: 2px;
    width: 80%;
    border-radius: 8px;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
}

#menu .content .body{
    padding: 5px;
    height: 100%;
    overflow-y: scroll;
    scrollbar-color: #888888 transparent;
}

#menu .content .body::-webkit-scrollbar-thumb{
    background-image: url(../imgs/dirt_block.png);
    background-size: cover;
}

#menu .content .body a{
    text-decoration: none;
}

#menu .content .body div{
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    color: black;
}

.modo{
    color: #aa0000;
}

#menu .content .body div:hover{
    background-color: rgb(0, 0, 0, .15);
}

#close span{
    transition: all .3s ease;
    cursor: pointer;
}

#close span:hover{
    transform: scale(1.2);
}

#body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    position: relative;
}

.main-title{
    display: inline-block;
    background-image: url(../imgs/dirt_block.png);
    background-size: contain;
    background-repeat: repeat;
    position: relative;
    z-index: 1;
    border-radius: 8px;
    box-shadow: inset 0px 0px 25px 6px rgba(0,0,0,0.6);
    padding: 10px;
    margin: 40px auto;
}

.noir{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 8px;
}

h1{
    position: relative;
    z-index: 2;
    color: white;
    margin: 0;
}

h1 span{
    color: #5555ff;
}

#rules{
    position: relative;
    display: inline-block;
    background-image: url(../imgs/dirt_block.png);
    background-size: 75px;
    background-repeat: repeat;
    border-radius: 8px;
    max-width: 60%;
    color: white;
    box-shadow: inset 0px 0px 25px 6px rgba(0,0,0,0.6);
    padding: 10px;
}

#rules .noir{
    background-color: rgba(0, 0, 0, 0.4);
}

#rules ul{
    position: relative;
    z-index: 2;
    padding-left: 15px;
}

#rules ul li{
    margin: 10px 0;
}

.light_blue{
    color: #5555ff;
}

.bold{
    font-weight: bold;
    color: #aaaaaa;
}

.em{
    color: #ff5555;
    font-weight: bold;
}

.em2{
    color: #55ff55;
    font-weight: bold;
}

small{
    max-width: 60%;
}

#body form{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#body form div{
    display: flex;
    align-items: center;
}

#body form input[type=checkbox]{
    appearance: none;
    background-image: url(../imgs/checkbox.png);
    background-size: cover;
    background-position: center;
    border: none;
    width: 20px;
    height: 20px;
}

#body form input[type=checkbox]:hover{
    cursor: pointer;
    filter: brightness(1.5);
}

#body form input[type=checkbox]:active{
    background-image: url(../imgs/checkbox_highlighted.png);
}

#body form input[type=checkbox]:checked{
    background-image: url(../imgs/checkbox_selected.png);
}

#body form input[type=checkbox]:checked:active{
    background-image: url(../imgs/checkbox_selected_highlighted.png);
}

#body form button{
    position: relative;
    border: none;
    color: white;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    cursor: pointer;
}

#body form button:active img{
    content: url(../imgs/button_highlighted.png);
}

#body form button img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#body form button span{
    position: relative;
    z-index: 1;
}