@import url('https://fonts.cdnfonts.com/css/minecraftia');

*{
    font-family: 'Minecraftia';
    box-sizing: border-box;
}

#background{
    position: absolute;
    background-image: url(../imgs/Logo_serveur_carre.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.blur{
    background-image: url(../imgs/Logo_serveur_carre.png);
    background-size: cover;
    position: absolute;
    filter: blur(10px);
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    min-height: 100vh;
}

header{
    position: relative;
    background-color: rgb(255, 255, 255, .3);
    text-align: center;
    padding: 5px 0;
    padding-top: 7px;
}

header > img{
    width: 200px;
    cursor: pointer;
}

header span{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/grass_block.png);
    background-size: cover;
    background-position: center;
    height: 38px;
    width: 38px;
    position: absolute;
    right: 7px;
    top: 7px;
    border-radius: 4px;
}

header span img{
    width: 75%;
    transition: all .3s ease;
    cursor: pointer;
}

header span img:hover{
    width: 90%;
}

#menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: white;
    width: 200px;
    height: 100vh;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    top: 0;
    right: -2px;
    transform: translateX(100%);
    transition: all .3s ease;
    font-size: 12px;
    z-index: 3;
    background-image: url(../imgs/oak_planks.png);
    background-size: calc(20px * 4);
    background-repeat: repeat;
    image-rendering: pixelated;
    border: solid 6px gray;
    outline: solid 2px black;
    border-right: none;
    box-sizing: border-box;
}

#menu::before{
    content: '';
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 2px black;
    border-right: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-sizing: border-box;
    outline: solid 6px gray;
}

#menu::after{
    content: '';
    position: absolute;
    z-index: 3;
    top: -6px;
    left: -6px;
    width: calc(100% + 6px * 2);
    height: calc(100% + 6px * 2);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-sizing: border-box;
    border: solid 2px rgb(177, 177, 177);
    border-bottom: solid 2px rgb(94, 94, 94);
    border-right: none;
}

#menu.active{
    transform: translateX(0);
}

#menu .content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    z-index: 4;
    height: 100%;
}

#menu .content .header #close::before{
    content: '';
    position: absolute;
    background-color: rgb(43, 43, 43);
    height: 2px;
    width: 80%;
    border-radius: 8px;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
}

#menu .content .body{
    padding: 5px;
    height: 100%;
    overflow-y: scroll;
    scrollbar-color: #888888 transparent;
}

#menu .content .body::-webkit-scrollbar-thumb{
    background-image: url(../imgs/dirt_block.png);
    background-size: cover;
}

#menu .content .body a{
    text-decoration: none;
}

#menu .content .body div{
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    color: black;
}

.modo{
    color: #aa0000;
}

#menu .content .body div:hover{
    background-color: rgb(0, 0, 0, .15);
}

#close span{
    transition: all .3s ease;
    cursor: pointer;
}

#close span:hover{
    transform: scale(1.2);
}

#body{
    position: relative;
    z-index: 2;
}

#body #infos-container{
    background-image: url(../imgs/dirt_block.png);
    background-size: calc(20px * 4);
    border-radius: 8px;
    width: 50%;
    padding: 10px;
    margin: 50px auto;
    text-align: center;
    color: white;
    position: relative;
}

#body #infos-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .3);
    z-index: 0;
}

#body #infos-container form{
    position: relative;
    z-index: 1;
}

#body #infos-container input{
    color: white;
    background-color: black;
    padding: 5px 10px;
}

#body #infos-container button{
    padding: 5px 10px;
    padding-bottom: 7px;
    border: 0;
    position: relative;
    cursor: pointer;
    width: 45%;
    color: white;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

#body #infos-container button:active img{
    content: url(../imgs/button_highlighted.png);
}

#body #infos-container button img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

#body #infos-container button span{
    position: relative;
    z-index: 1;
    font-size: 16px;
}

.error, .succes{
    display: block;
}

.error{
    color: #ff5555;
}

.succes{
    color: #55ff55;
}